.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}
.form-control{
  width: 300px;
  margin: 0px auto;
}

.App-intro {
  font-size: large;
  display: block;
  padding-top: 50px;
}
.clearfix{
  background: #61DAFB;
  border-radius: 10px;
  margin: 1px;
  width: 233px;
  padding-bottom: 10px;
}
.temp{
  display: inherit;
  padding: 5px;
  background: #222222;
  color: #61DAFB;
  border-radius: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
}
form{
  padding-top: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

